services:
    hub-service:
        image: ${DOCKER_USERNAME}/hub-service:${TAG}
        container_name: hub-service
        restart: always
        ports:
            - '8081:8080'
        env_file:
            - /root/hub-service.env
        depends_on:
            - redis
            - kafka
        networks:
            - app-network

    redis:
        image: redis:alpine
        container_name: redis
        restart: always
        ports:
            - '6379:6379'
        volumes:
            - redis_data:/data
        networks:
            - app-network

    kafka:
        image: apache/kafka:3.7.0
        container_name: kafka
        restart: always
        ports:
            - '9092:9092'
        environment:
            # KRaft settings
            - KAFKA_NODE_ID=1
            - KAFKA_PROCESS_ROLES=broker,controller
            - KAFKA_LISTENERS=PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093
            - KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092
            - KAFKA_CONTROLLER_LISTENER_NAMES=CONTROLLER
            - KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
            - KAFKA_CONTROLLER_QUORUM_VOTERS=1@kafka:9093
            - KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
            - KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR=1
            - KAFKA_TRANSACTION_STATE_LOG_MIN_ISR=1
            - CLUSTER_ID=MkU3OEVBNTcwNTJENDM2Qk
        volumes:
            - kafka_data:/var/lib/kafka/data
        networks:
            - app-network

networks:
    app-network:
        driver: bridge

volumes:
    redis_data:
    kafka_data:
